* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  
  header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #f9cbb6;
      margin: 10px 10px 0px 10px;
  }
  header h1 {
      width: 100%;
      text-align: center;
      padding: 20px;
      /*background-image: url(./images/background2.jpg);*/
      
    
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 10px 10px 10px;
    background-color: antiquewhite;
  
  }

  nav ul li {
      padding: 10px 75px;
      margin-top: 10px;
      margin-bottom: 10px;

  }

    header li a{
    padding: 10px;
        
    
}  
 /*about me section*/

 .aboutMeSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutMeSection h2 {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    
}

.aboutMe {
    padding: 50px;
    margin-top: 10px;
}

.aboutMeImage {
    padding: 50px;
        
}

.aboutMeImage img {
    height:250px;
    width: 250px;
    border: 3px solid black;
    border-radius: 100%;
    }
/*my work section*/

.myWorkSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px;
}

.myWorkSection h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;;
}
.runBuddy {
    width: 100%;
    height:350px;  
    margin-bottom: 15px;
    
}

.runBuddy img {
    object-fit: cover;
    object-position: 0 0;
    align-items: center;
    width: 100%;
}

.projectTwo, .projectThree {
    width: 49%;
    height: 250px;
    background-color: rebeccapurple;
    margin-bottom: 10px;   
}

.projectTwo img, .projectThree img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}


@media screen and (max-width: 768px){
    .projectTwo, .projectThree {
        width: 100%;
        height: 250px;
        background-color: rebeccapurple;
        
        
    }
}

