* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
  font-family: pacifico-regular;
  src: url(./Fonts/Pacifico-Regular.ttf);
  }

@font-face {
font-family: sora;
  src: url(./Fonts/Sora-ExtraLight.ttf);

}

body {
    background-image: url(./images/background3.jpg);
    background-size: cover;

}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, .5);

}
header h1 {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-family: sora;
      /*background-image: url(./images/background2.jpg);*/
     
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgba(255, 255, 255, .5);

  
}

nav ul li {
    padding: 10px 75px;
    margin-top: 10px;
    margin-bottom: 10px;

}

header li a {
    padding: 10px;
} 

a {
    text-decoration: none;
    font-family: sora;
}

.sectionHeader {
    padding: 15px;
    margin: 0 auto 20px auto;
    text-align: center;
    font-family: sora;
}
 /*about me section*/

.aboutMeSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 50px;  
}

.aboutMeSection h2 {
    text-align: center;
    width: 70%;
    margin: 20px 50px;
    font-family: sora;
    
}

.sectionHeader:before {
    content: "";
    display: inline-flex;
    width: 50%;
    flex: 1;
    border-bottom: 1px solid black;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
}

.sectionHeader:after {
    content: "";
    display: inline-flex;
    width: 50%;
    flex: 1;
    border-bottom: 1px solid black;
    margin: 0 -55% 0 .5em;
    vertical-align: middle;
}

.aboutMe h3 {
    font-family: pacifico-regular;
    font-size: 40px;
    text-align: center;
}

.aboutMe {
    padding: 50px;
    margin-top: 10px;
    width: 50%;
}
.aboutMe p {
    font-family: sora;
    line-height: 2;
}
.aboutMeImage {
    height:250px;
    width: 250px;
    margin: auto 0;
    
}

.aboutMeImage img {
    max-width: 100%;
    max-height: 100%;
    border: 3px solid black;
    border-radius: 100%;
    }
/*my work section*/

.myWorkSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px;
    position: relative;
}

.myWorkSection h2 {
    width: 70%;
    text-align: center;
}

.runBuddy {
    width: 100%;
    height:350px;  
    margin-bottom: 15px;
    border-radius: 10px;
    
}

.runBuddy img {
    object-fit: cover;
    object-position: 0 0;
    align-items: center;
    width: 100%;
}


.runBuddyText {
    display: none;
}

.otherProjects {
    width: 49%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;   
}

.otherProjects img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 10px;
}

.projectTitle {
    display: none;
    
}
/*get in touch section*/

.getInTouchSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}

.getInTouchSection h2 {
    height: 50px;
    width: 70%;
    margin: 20px 50px;
    padding: 0;
    
}

.getInTouchSection img {
    width:75px;
    align-items: center;
    
}

.getInTouchSection div {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/*PSEUDOCLASSES*/

.runBuddy:hover .runBuddyText  {
    position: absolute;
    display:flex;
    align-items:flex-end;
    height: 350px;
    width: 100%;
    padding: 10px;
    font-family: sora;
    font-size: 26px;
    background-color: rgba(255, 255, 255, .25);
    border: 2px solid white;
    border-radius: 10px;;  
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        
    }

.otherProjects:hover .projectTitle {
    position: absolute;
    display:flex;
    align-items:flex-end;
    height: 250px;
    width: 49%;
    padding: 10px;
    font-family: sora;
    font-size: 26px;
    background-color: rgba(255, 255, 255, .25);
    border: 2px solid white;
    border-radius: 10px;;  
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    }

    nav a:hover {
        border-top: 2px solid black;
        font-size:larger;
        padding-top: 10px;
    }
    a:visited {
        text-decoration: none; 
        color: black;
    }


/*MEDIA QUERIES*/


@media screen and (max-width: 768px) {
    .aboutMe {
        width: 100%;
    }

    .otherProjects {
        width: 100%;
        height: 250px;
    }

    .otherProjects:hover .projectTitle {
        width: 100%;
    }
}

