* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
  font-family: pacifico-regular;
  src: url(./Fonts/Pacifico-Regular.ttf);
  }

@font-face {
font-family: sora;
  src: url(./Fonts/Sora-ExtraLight.ttf);

}

body {
    background-image: url(./images/background3.jpg);
    background-size: cover;

}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;

}
header h1 {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-family: sora;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgba(255, 255, 255, .5);

  
}

nav ul li {
    padding: 20px 100px;
}

header li a {
    padding: px;
} 

a {
    text-decoration: none;
    font-family: sora;
    color: inherit;
}

nav a:hover {
    background-color: white;

}

nav li:hover {
    background-color: white;
}

a:visited {
    text-decoration: none; 
    color: black;
}

p {
    text-indent: 30px;
}

.sectionHeader {
    padding: 15px;
    margin: 0 auto 20px auto;
    text-align: center;
    font-family: sora;
    width: 70%;
}
 /*about me section*/

.aboutMeSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 100px;  
}

.sectionHeader:before {
    content: "";
    display: inline-flex;
    width: 50%;
    flex: 1;
    border-bottom: 1px solid black;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
}

.sectionHeader:after {
    content: "";
    display: inline-flex;
    width: 50%;
    flex: 1;
    border-bottom: 1px solid black;
    margin: 0 -55% 0 .5em;
    vertical-align: middle;
}

.aboutMe h3 {
    font-family: pacifico-regular;
    font-size: 40px;
    text-align: center;
}

.aboutMe {
    padding: 50px;
    margin-top: 10px;
    width: 50%;
}
.aboutMe p {
    font-family: sora;
    line-height: 2;
   
}

.aboutMeImage {
    height:250px;
    width: 250px;
    margin: auto 0;
    justify-content: center;
    
}

.aboutMeImage img {
    max-width: 100%;
    max-height: 100%;
    border: 3px solid black;
    border-radius: 100%;
    }
   
/*my work section*/

.myWorkSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 100px;
    position: relative;    
}

.runBuddy {
    width: 100%;
    height:350px;  
    margin-bottom: 15px;
    border-radius: 10px;   
}

.runBuddy img {
    object-fit: cover;
    object-position: 0 0;
    align-items: center;
    width: 100%;
}


.runBuddyText {
    display: none;
}

.otherProjects {
    width: 49%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;   
}

.otherProjects img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 10px;
}

.projectTitle {
    display: none;  
}

.runBuddy:hover .runBuddyText  {
    position: absolute;
    display:flex;
    align-items:flex-end;
    height: 350px;
    width: 100%;
    padding: 10px;
    font-family: sora;
    font-size: 26px;
    background-color: rgba(255, 255, 255, .25);
    border: 2px solid  rgba(255, 255, 255, .01);
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);  
}

.otherProjects:hover .projectTitle {
    position: absolute;
    display:flex;
    align-items:flex-end;
    height: 250px;
    width: 49%;
    padding: 10px;
    font-family: sora;
    font-size: 26px;
    background-color: rgba(255, 255, 255, .25);
    border: 2px solid  rgba(255, 255, 255, .01);
    border-radius: 10px;  
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

/*get in touch section*/

.getInTouchSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.getInTouchSection img {
    width:75px;
    align-items: center; 
}

.getInTouchSection div {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.links {
    padding: 20px;
}

.links:hover {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 20px;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 1000px) {
    .aboutMe, .aboutMeImage {
        width:100%;
        padding-top: 0;
       justify-content: center;
       text-align: center;
    }
}
@media screen and (max-width: 890px) {
    header h1 {
        background-color: rgba(255, 255, 255, .5);
    }
    
    nav ul li {
        width: 100%;
        text-align: center;
    }

    .aboutMe {
        padding-top: 25px;
        text-align: center;
        width: auto;
    }

    .aboutMeImage {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul li {
        width: 100%;
        text-align: center;
    }
    .aboutMe {
        width: 100%;
    }

    .aboutMeImage {
        margin-bottom: 10px;
    }

    .otherProjects {
        width: 100%;
        height: 250px;
    }

    .otherProjects:hover .projectTitle {
        width: 100%;
    }

    .myWorkSection {
        margin: 20px 50px;
    }

}

@media screen and (max-width: 420px){
    header h1 {
        background-color: rgba(255, 255, 255, .5);
    }

    .aboutMeSection {
        margin: 20px 10px;
    }

    .aboutMe {
        padding-top: 25px;
        text-align: center;
        width: auto;
    }
}
